@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

:root {
  --lightest: #fff;
  --light: #b9c6ae;
  --dark: #d8a47f;
  --darkest: #13293d;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 60px;
  text-align: center;
  background: var(--darkest);
  font-family: 'Kablammo', cursive;
  color: var(--lightest);
}

nav {
  display: flex;
  background-color: var(--dark);
}

nav p {
  padding: 14px 20px;
  text-decoration: none;
}

main {
  display: flex;
}

div{
  display: flex;
}

aside {
  flex: 30%;
  background-color: var(--light);
  padding: 20px;
  flex-wrap: wrap;
}

.topBody {
  flex: 70%;
  background-color: var(--lightest);
  padding: 20px;
  border: #13293d solid 1px;
}

footer {
  padding: 20px;
  text-align: center;
  background: var(--darkest);
  color: var(--lightest);
}

.hid {
  display: none;
}

section:hover .hid {
  display: block;
}

/* Image Placeholders */
.sample-img {
  background-color: var(--lightest);
  padding: 20px;
  /* height: 200px; */
  border: 1px solid black;
  transform: rotate(8deg);
  box-shadow: 10px 10px 5px #aaaaaa;
}

#rotate:hover {
  transform: rotate(-8deg);
  background-image: url(../images/funny-face-hilarious.gif);
}

.multi-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sample-img:hover {
  background-image: url(../images/funny-face-hilarious.gif);
}

h2::before {
  content: "👉";
}

h2[data-bodyHeader]:hover::after {
  content:attr(data-bodyHeader);
  position: relative;
  left: 0px;
  bottom: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  background-color: #13293d;
  padding: 12px;
  color: var(--lightest);
  font-size: 80%;
  z-index: 1;
}

/* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
  header {
    background: #772014;
  }
}

/* Large smartphones - navbar changes color */
@media screen and (max-width: 768px) {
  nav {
    background-color: #bb8588;
  }
}

/* Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
  .sample-img {
    background-color: #8ac4ff;
  }
}
